@import "~compass-mixins/lib/compass";

app-post-list-component{
    padding: 0;
}
li{
    border-width: 2px;
    padding: 0;
    margin-top: 15px;
    @include transition(all .5s ease);
    display: grid;
    grid-template-rows: 80px 15px 1fr 150px;
    //grid-gap: 1em;
    h2{
        text-align: center !important;
        color: rgb(77, 77, 77);
        line-height: 35px;
    }
    &.list-group-item-success{
        border-color: lightgreen;
    }
    &.list-group-item-danger{
        border-color: darkred;
    }
    &::before{
        content: " ";
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: .1);
        @include transition(all .5s ease);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        border-radius: 3px
    }
    &:hover{
        box-shadow: 0 0 18px rgba($color: #000000, $alpha: .7);
        &::before{
            background-color: rgba($color: #000, $alpha: .0)
        }
    }
    .postDate{
        font-size: 2rem;
        color: darkslategray;
        text-align: end;
        padding-right: 15px;
    }
    .postComment{
        padding: 20px;
        font-size: 1.2em;
        text-align: justify;
    }
    .postLoveRow{
        display: grid;
        grid-template: repeat(2, 1fr)/ repeat(4, 1fr);
        span{
            display: block;
            width: 100%;
            text-align: center;
            line-height: 30px;
            font-size: 28px;
            grid-column: 1/span 4;
            grid-row: 1;
            //border: 1px solid red;
        }
        button{
            //border: 1px solid green;
            margin: 10px;
            font-size: 18px;
            border-radius: 40px;
            box-shadow: inset 0 0 0 rgba(0,0,0,.4), 0 0 10px rgba(0,0,0,.4);
            @include transition(box-shadow .3s ease);
            outline: 0px !important;
            &#lovebtn{
                grid-column: 1/span 2;
                grid-row: 2;
            }
            &#hatebtn{
                grid-column: 3/span 2;
            }
            &:active{
                box-shadow: inset 0 0 10px rgba(0,0,0,.4);

            }
        }
    }
}